<%- include('../header'); -%>

<div class="container mt-4 mb-4">
    <div class="top-content">
        <h4>Game Details</h4>
        <div class="dropdown-divider"></div>
    </div>
    <div class="container-fluid mb-auto">
        <div class="row">
            <div class="col-lg-5 order-2 order-lg-1">
                <div class="row">
                    <div class="col-12">
                        <img src="<%=product.productImage%>" alt="product Img" class="img-fluid"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 pl-lg-4 order-1 order-lg-2">
                <h1 class="mb-4"><%=product.productName%></h1>
                <form method="POST" action="/cart">
                    <input type=text name="buyitem" value="<%=product.productID%>" hidden>
                    <div class="d-flex align-items-center justify-content-between my-4">
                        <ul class="list-inline mb-0">
                            <li class="h2 mb-0">$<%=product.productPrice.toFixed(2)%></li>
                            <button type="submit" class="btn btn-danger btn-lg mb-1 mt-5"><i class="fa fa-shopping-cart mr-2"></i>Add to cart</button>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="container mt-5">
            <ul role="tablist" class="nav nav-tabs">
                <li class="nav-item">
                    <a data-toggle="tab" href="#description" role="tab" class="nav-link detail-nav-link active">Description</a>
                </li>
                <li class="nav-item">
                    <a data-toggle="tab" href="#additional-information" role="tab" class="nav-link detail-nav-link ">Additional Information</a>
                </li>                    
            </ul>
            <div class="tab-content py-4">
                <div id="description" role="tabpanel" class="tab-pane active">
                    <p><%=product.productDescription%></p>
                </div>
                <div id="additional-information" role="tabpanel" class="tab-pane">
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table text-sm">
                                <tbody>
                                    <tr>
                                        <th class="text-uppercase font-weight-normal">Language</th>
                                        <td class="text-muted">English</td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase font-weight-normal">Year</th>
                                        <td class="text-muted"><%=product.manufactureYear%></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <table class="table text-sm">
                                <tbody>
                                    <tr>
                                        <th class="text-uppercase font-weight-normal">Category</th>
                                        <td class="text-muted"><%=product.categoryName%></td>
                                    </tr>
                                    <tr>
                                        <th class="text-uppercase font-weight-normal">Number of Players</th>
                                        <td class="text-muted">2-6</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../footer'); -%>