<%- include('../header'); -%>

<div class="mb-auto">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-9">
                <div class="block mb-5 mt-5">
                    <div class="block-header"><strong class="text-uppercase">Receipt of Order</strong></div>
                        <div class="block-body mt-5">
                            <div class="col-md-12">
                                    <div class="mt-3 mb-3 border-bottom table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span><%=order.orderDate%></span></div>
                                                    </td>
                                                    <td>
                                                        <div class="py-2"> <span class="d-block text-muted">Order No</span> <span><%=order.orderID%></span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="py-2"> <span class="d-block text-muted">Payment</span> <span><%=order.payment%></span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="py-2"> <span class="d-block text-muted">Shiping To</span> <span><%=order.city%>, <%=order.province%>, <%=order.postalCode%></span> </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="product border-bottom table-responsive">
                                        <table class="table table-borderless">
                                            <tbody>
                                                <%orders.forEach(item => {%>
                                                   <tr>
                                                    <td width="20%"> <img src="<%=item.productImage%>" width="90"> </td>
                                                    <td width="60%"> <span class="font-weight-bold"><%=item.productName%></span>
                                                        <div class="product-qty"> <span class="d-block">Quantity: <%=item.quantity%></span></div>
                                                    </td>
                                                    <td width="20%">
                                                        <div class="text-right"> <span class="font-weight-bold">$<%=item.productTotal.toFixed(2)%></span> </div>
                                                    </td>
                                                </tr>
                                                <% }); %> 
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row d-flex justify-content-end">
                                        <div class="col-md-5">
                                            <table class="table table-borderless">
                                                <tbody class="totals">
                                                    <tr>
                                                        <td>
                                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right"> <span>$<%=order.subTotal.toFixed(2)%></span> </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right"> <span>$<%=order.shippingFee.toFixed(2)%></span> </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="text-left"> <span class="text-muted">GST/HST</span> </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right"> <span>$<%=order.tax.toFixed(2)%></span> </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right"> <span class="text-success">$<%=order.discount.toFixed(2)%></span> </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="border-top border-bottom">
                                                        <td>
                                                            <div class="text-left"> <span class="font-weight-bold">Total</span> </div>
                                                        </td>
                                                        <td>
                                                            <div class="text-right"> <span class="font-weight-bold">$<%=order.total.toFixed(2)%></span> </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>        
                        </div>
                        </div>
                    </div>
                </div>
            <div class="col-xl-3 col-lg-4 mb-5 mt-5">
                <div class="customer-sidebar card border-0">
                    <div class="customer-profile">
                        <h5><%=userInfo.fullName%></h5>
                    </div>
                    <nav class="list-group customer-nav">
                        <a href="/customer/profile" class="list-group-item">
                            <i class="far fa-user-circle mr-2"></i> Profile
                        </a>
                        <a href="/customer/address" class="list-group-item">
                            <i class="fas fa-map-marker-alt mr-2"></i> Address Information
                        </a>
                        <a href="/customer/orders" class="list-group-item active">
                            <i class="fas fa-shopping-bag mr-2"></i> Your Order
                        </a>
                        <a href="/customer/changepassword" class="list-group-item"><span>
                          <i class="fas fa-key mr-2"></i>Change your password</span>
                        </a>
                        <a href="/logout" class="list-group-item"><span>
                            <i class="fas fa-sign-out-alt mr-2"></i>Log out</span>
                          </a>    
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../footer'); -%>