<%- include('../header'); -%>

<div class="mb-auto">
    <div class="container-fluid">
            <div class="top-content">
                <h4>New Releases</h4>
                <div class="dropdown-divider"></div>
            </div>
            <div class="row my-3 my-md-5">
                <div class="d-none d-md-block col-md-3 col-lg-2">
                    <img src="https://www.newcasinosites.co/wp-content/uploads/2020/03/new-release-bigstock-hofred-750px.jpg" width="230" alt="Picto-New_Release">
                    <p class="mb-0 mt-2 ml-4">
                        <a class="btn btn-outline-secondary" href="#">View all new release</a>
                    </p>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <% listGame.forEach(function(item){%>
                                <div class="swiper-slide" >
                                    <div class="d-flex product-image bg-gray-200">
                                        <img src="<%=item.productImage%>" class="img-fluid d-block m-auto" alt="Tidal Blades: Heroes of the Reef – Angler&#039;s Cove">
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
    </div>
</div>

<div class="container-fluid">
    <div class="top-content">
        <h4>SHOP BY CATEGORIES</h4>
        <div class="dropdown-divider"></div>
    </div>
    <div class="row mt-4">
    <% for(var i = 0; i < Categories.length; i++) {%>
        <%if((i+1)% 3 == 0){%>
                <div class="col-sm categories-wrapper mr-3">
                    <img class="categories-img" src="<%=Categories[i].image%>">
                    <p class="text-center font-weight-bold"><%=Categories[i].categoryName%></p>
                </div>
    </div>
    <div class="row mt-4">
            <%}else {%>
                <div class="col-sm categories-wrapper mr-3">
                    <img class="categories-img" src="<%=Categories[i].image%>">
                    <p class="text-center font-weight-bold"><%=Categories[i].categoryName%></p>
                </div>
            <%}%>
    <%}%>
    </div>
</div>
<%- include('../footer'); -%>